---
layout: default
home: true
---

<h3 class="publications-item-note" aria-label="Recent Publications">Recent Publications</h3>
{%- assign sorted_publications = site.publications | sort: 'date' | reverse -%}
{%- for publication in sorted_publications limit: site.number_of_publications -%}
<article class="publication-item">
  <h4 class="publication-item-title">
    <a href="{{ publication.url }}">{{ publication.title | escape }}</a>
    <br> <!-- start new line here -->
    <i class="fa-solid fa-hand-point-right"></i> &nbsp;&nbsp; {% if publication.venue %}<span class="publication-venue">{{ publication.venue }}</span>{% endif %}
    {% if publication.year %}<span class="publication-year">{{ publication.year }}</span>{% endif %} &nbsp;&nbsp;
    {% if publication.code_url %}
      <a href="{{ publication.code_url }}" class="button" style="background-color: #2ebda1; color: white; text-decoration: none; border-radius: 4px; padding: 3px 8px; font-size: 14px; display: inline-block; width: 40px; height: 15px; line-height: 15px; text-align: center;">Code</a>
    {% endif %}
    {% if publication.paper_url %}
      <a href="{{ publication.paper_url }}" class="button" style="background-color: #4693d7; color: white; text-decoration: none; border-radius: 4px; padding: 3px 8px; font-size: 14px; display: inline-block; width: 40px; height: 15px; line-height: 15px; text-align: center;">Paper</a>
    {% endif %}
  </h4>
</article>
{%- endfor -%}

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}


<h3 class="posts-item-note" aria-label="Academic Activities">Academic Activities</h3>
<ul class="posts-subitem-note">
  <li><strong>Reviewers</strong>
    <ul>
      <li>Conference: ACL 2023; EMNLP 2023; NeurIPS 2024; AISTATS 2025</li>
    </ul>
  </li>
</ul>

<h3 class="posts-item-note" aria-label="Teaching">Teaching</h3>
<ul class="posts-subitem-note">
  <li>COMP0084: Information Retrieval and Data Mining (23/24)</li>
  <li>COMP0087: Statistical Natural Language Processing (23/24)</li>
  <li>COMP0257: Advanced Topics in Financial Modeling and Technologies Seminar (24/25)</li>
</ul>

<h3 class="posts-item-note" aria-label="Honours and Awards">Honours and Awards</h3>
<ul class="posts-subitem-note">
  <li><strong>Honours</strong>
    <ul>
      <li>2022 Hamlyn Prize for Medical Robotics and Image Guided Intervention, Imperial College London.</li>
      <li>2021 Honours Student Award in Remote Sensing Science and Technology, Wuhan University.</li>
    </ul>
  </li>
  <li><strong>Scholarship</strong>
    <ul>
      <li>2022-2026 UCL Computer Science Departmental Funds for international PhD Studentship.</li>
      <li>2017-2018 Hi‑Target Navigation Technology Scholarship.</li>
    </ul>
  </li>
</ul>
